h1{
	text-align-last: center;
}
*{
	box-sizing: border-box;
}
p{
	padding: 20px;

}
#hossein {
	background-color: grey;
	clear: left;
}

body {
padding-left: 100px;
}
.chicken {
	background-color: #FAEBD7;
	border:1px solid black;
	padding: 2px;
	width: 60px;
	text-align-last: center;
	box-sizing: border-box;
	float: right;	
}
.beef {
	background-color: #F0F8FF;
	border:1px solid black;
	padding: 2px;
	width: 60px;
	text-align-last: center;
	box-sizing: border-box;
	float: right;	
}
.sushi {
	background-color: #8FBC8F;
	border:1px solid black;
	padding: 2px;
	width: 60px;
	text-align-last: center;
	box-sizing: border-box;
	float: right;	
}

.row1,.row2,.row3 {
	border:1px solid black;
	margin: 10px;
	background-color: #F8F8FF;
	width: 400px;
	height: 150px;
	float: left;
}



@media(min-width: 1200px) {
 .row3{
 	width: 80%
 }
 .row1,.row2 {
 	width: 559px;
 }
 }
 @media (min-width: 992px) and (max-width: 1199px){
 .row3{
 	width: 50%
 }
 .row1,.row2 {
 	width: 559px;
 }
 }
